@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body
{
    
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    background-color: #edd2cb;
    font-family: 'Sora', sans-serif;


}
.array-container
{
    position: absolute;
    top:40px;
    left: 3.5rem;
    right: 3.5rem;
    margin: auto;
    height:550px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}
.array-bar
{
    width: 5.5px;
    position: relative;
    display: inline-block;
    margin: 0 1px;
}

.sorting-buttons
{
    position: relative;
    top: 90vh;
    background-color: #543c52;
    
}
.myRange
{
    cursor: pointer;
}
button
{
    cursor: pointer;
    margin: 1rem;
    background-color: #f1e8e6;
    color: #361d32;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    border-radius: 0.3rem;
    padding: 6px 14px;
    font-family: 'Sora', sans-serif;

}
button:disabled
{
    background-color: #361d32;
    color:  #f1e8e6;
}
button:hover
{
    background-color: #b3b3b3;
    transform: translate(0px,-5px);
}
